@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;

    --fonte2: "Passion One", sans-serif;    
}
*{
    text-align: center;
}

body{
    height: 100vh;
    background-color: black;
    background-image: url('../imagens/fundoEscuro2.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100vh;
    background-attachment: fixed;        
}

 header{ 
    min-width: 300px;
    max-width: 650px;
    margin: auto; 
    padding: 5px;
    border-radius: 0px 0px 20px 20px;    
    background-position: left center;     
    background-color: rgba(255, 255, 255, 0.342); 
    box-shadow: 0px 3px 15px 2px black;       
}

h1 {
    font-family: var(--fonte2);
    font-size: 3em;
    font-variant: small-caps;
    text-align: center;
    margin: 0px;   
    
}
header > p {
    padding: 0px;
    margin: 5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(17, 17, 136);
    font-weight: bolder;
}
p.nome{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(13, 13, 94);
    font-weight: bolder;
}

nav{
    font-family: var(--fonte2);
    text-align: center;  
    padding: 10px;
    padding-top: 20px; 
      
}

nav >a {    
    color: rgb(90, 17, 17);
    font-size: 1.5em;
    text-decoration: none;
    padding: 6px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.356);
}

a:hover{
    text-shadow: 0px 0px 2px red;
        
}

footer{   
    font-family: var(--fonte2);
    padding: 10px;
    color: black
    text-align: center;
    position: absolute;
    bottom: -20px;
    width: 100%;
    
}
